
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
  .header{
   
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color :white;
    font-weight:bold;
    border-radius: 10px;
}
.hed1{
    width: 300px;
    height: 50px;
    display: flex;
    background-color: white;
    color:black;
    margin-bottom:50px;
    /* margin-top: 5px; */
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    font-size: 32px;
}
.hed2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}
.btn button{
  border: none;
  background-color:#FFDE59;
  padding: 10px;
  font-size:16px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}
.newsdisplay{
  
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin-left:500px;
  margin-right: 500px;


}
.user{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:500px;
  background-color:#D9D9D9;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius:10px;

}

.detail{
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap:100px;

}
#saved-news-container a{
  text-decoration: none;
  color:black;
}